.services {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 100px 0;
	background-color: burlywood;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	border: 1px solid;
	background-color: #61dafb;
}

.title {
	margin-bottom: 50px;
	text-align: center;
}

.servicesWrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	border: 1px solid;
	background-color: springgreen;
	margin: 0 auto 50px;
}

.image {
	width: 200px;
	height: 200px;
	background-color: darkcyan;
	border: 1px solid;
}

.name {
	margin: 20px;
	border: 1px solid;
}

.description {
	text-align: center;
	border: 1px solid;
}